{% extends "base.html" %}

{% block content %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Вирушаємо{{ departures[dep_eng] }}</h1>
    <p class="mb-4">Знайдено {{ tours|length }} тур(а)ів</p>
    <!-- CARDS -->
    <div class="row mt-5">

      {% for tour_id, tour in tours.items() %}
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ tour.picture }}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.title }}</h2>
            <p class="card-text">{{ tour.description }}</p>
            <a href="#" class="btn btn-sm btn-primary">Деталі туру</a>
          </div>
        </div>
      </div>

    </div>
  </main>
  {% endblock content %}
